.top{
    display: flex;
    justify-content: space-between;
    font-family: 'Patua One', cursive;
    font-size: medium;
}
.line1{
    display: flex;
    justify-content: space-between;
    border-top: solid black;
    border-bottom: solid black;
    padding: 3px;
    word-spacing: 1;
}
.head{
    font-size: 5rem;
    text-align: center;
   font-family: 'Paytone One', sans-serif;
   word-spacing: 2px; 
   letter-spacing: 3px;
   padding-left: 25;
   padding-right: 20;
   display: inline;
  
   border-bottom: solid red 6px;
}
.td1{
    font-family: 'Paytone One',sans-serif ;
    font-size: 1rem;
    color: white;

}
.img1{
    width: 400px;
    height:600px;
    float: right;
    padding-right: 10px;
    
}
.suriya{
    font-family: fantasy;
    font-size: 2rem;
}
.p1{
    word-spacing: 2px;
    font-family: 'Francois One', sans-serif;
   overflow: hidden;
}
.img2{
    width: 300;
    height: 200;
    
}
.td2{
    font-family: 'Paytone One',sans-serif ;
    font-size: 1rem;
    color: white;
    
   
}
body{
    width: 960px;
    margin: 0 auto;
}
.column{
    border: none;
    width: 30%;
    float:left;
    margin-right:0%;
    text-align: center ;
   
}
.p2{
    border-top: solid black 2px;
    font-size: 1rem;
    
}
.bottom{
    display: flex;
    justify-content: space-between;
    font-family: 'Patua One', cursive;
    font-size: medium;
    border-top:  solid black;
    float: right;
}